<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galvenā lapa</title>
    <!--- lai dabūtu stilus --->
    <link href="{{ url_for('static', filename='style/main.css' }}" rel="stylesheet"/>
</head>

<body>

    <h1>Galvenā lapa</h1>
    <div class="button">
        <!--- a ir links, nospiežot uz to, atvērsies cita lapa --->
        <a href="{{ url_for('view_data') }}">View data</a>
    </div>

    <div id="signup_form">
        <form method="POST">
            <label for="name">First Name:</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="surname">Surname:</label>
            <input type="text" name="surname" id="surname"><br><br>
            <input type="submit" value="Submit" name="Submit">
        </form>
    </div>

    <!--- id - css būs ar # --->
    <div id="count_form">
        <p>Forma</p>

        <form method="POST" action="{{ url_for('get_count') }}">
            <label for="surname">Key:</label>
            <input type="text" name="key" id="key"><br><br>
            <input type="submit" value="Submit" name="Submit">
        </form>
    </div>

    <div class="outter big_red">
        <h1>Header</h1>
    </div>

</body>
</html>