<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datu tabulas lapa</title>
    <!--- lai dabūtu stilus --->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}"/>
</head>

<body>
    <h1>Datu tabulas lapa</h1>
    <div class="button">
        <a href="{{ url_for('main') }}">Go back</a>
    </div>

    <table id="customers">
        <thead>
            <tr>  <!--- ieraksts --->
                <th>name</th>
                <th>surname</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_items.values() %}
                <tr>
                    <td> {{ row['name'] }} </td>
                    <td> {{ row['surname'] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>


